Repository googleapis/python-contact-center-insights, pull requests merged in 2021-09, with the labels that each got.

#36 chore: add CCAI eng team to CODEOWNERS
  .github/CODEOWNERS
Labels: cla: yes, api: contactcenterinsights

#13 samples: enable pubsub notifications
  samples/snippets/enable_pubsub_notifications.py
  samples/snippets/noxfile.py
  samples/snippets/requirements-test.txt
  samples/snippets/requirements.txt
  samples/snippets/test_enable_pubsub_notifications.py
Labels: cla: yes, samples, api: contactcenterinsights

#38 chore: makes CCAI team full codeowners of repo
  .github/CODEOWNERS
  .repo-metadata.json
Labels: automerge, cla: yes, api: contactcenterinsights

#41 chore: reference main branch of google-cloud-python
  README.rst
Labels: cla: yes, api: contactcenterinsights

#45 samples: export data to BigQuery
  samples/snippets/export_to_bigquery.py
  samples/snippets/noxfile.py
  samples/snippets/requirements.txt
  samples/snippets/test_enable_pubsub_notifications.py
  samples/snippets/test_export_to_bigquery.py
Labels: cla: yes, samples, api: contactcenterinsights

#15 samples: create custom highlights
  samples/snippets/create_phrase_matcher_all_of.py
  samples/snippets/create_phrase_matcher_any_of.py
  samples/snippets/noxfile.py
  samples/snippets/requirements-test.txt
  samples/snippets/requirements.txt
  samples/snippets/test_create_phrase_matcher_all_of.py
  samples/snippets/test_create_phrase_matcher_any_of.py
Labels: cla: yes, samples, api: contactcenterinsights

#50 chore: relocate owl bot post processor
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
Labels: automerge, cla: yes, api: contactcenterinsights

#23 samples: set project-level TTL
  samples/snippets/requirements.txt
  samples/snippets/set_project_ttl.py
  samples/snippets/test_set_project_ttl.py
Labels: cla: yes, samples, api: contactcenterinsights

#28 samples: create topic model
  samples/snippets/create_issue_model.py
  samples/snippets/test_create_issue_model.py
Labels: cla: yes, samples, api: contactcenterinsights

#42 samples: create conversation
  samples/snippets/create_conversation.py
  samples/snippets/test_create_conversation.py
Labels: cla: yes, samples, api: contactcenterinsights

#44 samples: create analysis
  samples/snippets/create_analysis.py
  samples/snippets/test_create_analysis.py
Labels: cla: yes, samples, api: contactcenterinsights

#43 samples: create conversation with TTL
  samples/snippets/create_conversation_with_ttl.py
  samples/snippets/create_issue_model.py
  samples/snippets/noxfile.py
  samples/snippets/set_project_ttl.py
  samples/snippets/test_create_conversation_with_ttl.py
Labels: cla: yes, samples, api: contactcenterinsights

#24 samples: get operation
  samples/snippets/get_operation.py
  samples/snippets/test_get_operation.py
Labels: cla: yes, samples, api: contactcenterinsights

#53 chore: Update owlbot.py
  owlbot.py
  samples/snippets/noxfile.py
Labels: cla: yes, api: contactcenterinsights
